.nav
  h5.sidebar-header Navigation
  ul.nav.nav-pills.nav-stacked

      +navigationItem(path="index" icon="tachometer")
        | Dashboard
      +navigationItem(path="chatrooms" icon="users")
        | ChatRooms
