aside#sidebar-right
   h4.sidebar-title Patients List
   #contact-list-wrapper
      .heading
         ul
            li.new-contact
               a(href="javascript:void(0)")
                  i.fa.fa-plus
            li
               input.search(type="text", placeholder="Search")
               button.btn.btn-sm.btn-search(type="submit")
                  i.fa.fa-search
      #contact-list
         ul
            li
               .row
                  .col-md-3
                     span.avatar
                        img.img-circle(src="assets/img/avatar3.png", alt="")
                        i.on.animated.bounceIn
                  .col-md-9
                     .name Ashley Bell
                     small.location.text-muted
                        i.icon-pointer
                        | Sarasota, FL
            li
               .row
                  .col-md-3
                     span.avatar
                        img.img-circle(src="assets/img/avatar1.png", alt="")
                        i.on.animated.bounceIn
                  .col-md-9
                     .name Brian Johnson
                     small.location.text-muted
                        i.icon-pointer
                        | San Francisco, CA
            li
               .row
                  .col-md-3
                     span.avatar
                        img.img-circle(src="assets/img/avatar2.png", alt="")
                        i.on.animated.bounceIn
                  .col-md-9
                     .name Chris Jones
                     small.location.text-muted
                        i.icon-pointer
                        | Brooklyn, NY
            li
               .row
                  .col-md-3
                     span.avatar
                        img.img-circle(src="assets/img/avatar4.jpg", alt="")
                        i.on.animated.bounceIn
                  .col-md-9
                     .name Erica Hill
                     small.location.text-muted
                        i.icon-pointer
                        | Palo Alto, Ca
            li
               .row
                  .col-md-3
                     span.avatar
                        img.img-circle(src="assets/img/avatar5.png", alt="")
                        i.away.animated.bounceIn
                  .col-md-9
                     .name Greg Smith
                     small.location.text-muted
                        i.icon-pointer
                        | London, UK
            li
               .row
                  .col-md-3
                     span.avatar
                        img.img-circle(src="assets/img/avatar6.png", alt="")
                        i.on.animated.bounceIn
                  .col-md-9
                     .name Jason Kendall
                     small.location.text-muted
                        i.icon-pointer
                        | New York, NY
            li
               .row
                  .col-md-3
                     span.avatar
                        img.img-circle(src="assets/img/avatar7.png", alt="")
                        i.on.animated.bounceIn
                  .col-md-9
                     .name Kristen Davis
                     small.location.text-muted
                        i.icon-pointer
                        | Greenville, SC
            li
               .row
                  .col-md-3
                     span.avatar
                        img.img-circle.off(src="assets/img/avatar8.png", alt="")
                        i.off.animated.bounceIn
                  .col-md-9
                     .name Michael Shepard
                     small.location.text-muted
                        i.icon-pointer
                        | Vancouver, BC
            li
               .row
                  .col-md-3
                     span.avatar
                        img.img-circle.off(src="assets/img/avatar9.png", alt="")
                        i.off.animated.bounceIn
                  .col-md-9
                     .name Paul Allen
                     small.location.text-muted
                        i.icon-pointer
                        | Savannah, GA
      #contact-user
         .chat-user.active
            span
               i.icon-bubble
         .email-user
            span
               i.icon-envelope-open
         .call-user
            span
               i.icon-call-out
